<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('partials/header') %>
    <section class="cta">
      <div>
        <p>Welcome to <%= title %>
        </p>
        <h1 class="titulo">
          <%= title %>
        </h1>
      </div>
      <div class="cta_img">
        <img src="https://picsum.photos/500" alt="" class="cta_imagen">
      </div>
    </section>

    <%- include('partials/footer') %>
</body>

</html>