<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <%- include('partials/header') %>
  
  <h1 class="titulo">Últimas entradas del blog</h1>
  <section class="container">
  <div class="tarjetas_grid">
    <% entradas.forEach(entrada => { %> 
      <div class="tarjeta">
        <a href="/home/<%= entrada.id %>">
            <img src="<%= entrada.image %>" alt="<%= entrada.title %> portada" class="tarjeta_imagen">
            <h2><%= entrada.title %></h2>
          </a>
          
      </div></a>
    <% }) %>
  </div>
<footer class="footer">
    <p>&copy; Creado por Fernando Pinilla Valbuena</p>
</footer>
</section>

</body>
</html>
