<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %> <!-- Inserta el valor de `title` proporcionado desde el controlador -->
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' /> <!-- Vincula el archivo CSS para aplicar estilos -->
</head>
<body>
    <%- include('partials/header') %>
    
    <!-- Contenedor de las tarjetas de juegos -->
    <div class="tarjetas_grid">
        <% juegos.forEach(juego => { %> <!-- Itera sobre el array `juegos` pasado desde el controlador -->
            <div class="tarjeta">
                <img src="<%= juego.enlace_portada %>" alt="<%= juego.nombre %> portada" class="tarjeta_imagen">
                <div class="tarjeta_datos">
                    <h2><a href="/juegos/<%= juego.id %>"><%= juego.nombre %></a></h2>
                    <p><strong>Fecha de Venta:</strong> <%= juego.fecha_de_venta %></p>
                    <p><strong>Compañía:</strong> <%= juego.compania %></p>
                    <p><strong>Género:</strong> <%= juego.genero %></p>
                </div>
            </div>
        <% }) %> <!-- Cierra el bucle `forEach` después de iterar por todos los elementos -->
    </div>

    <%- include('partials/footer') %>
</body>
</html>
