<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %> <!-- Inserta el valor de `title` proporcionado desde el controlador -->
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' /> <!-- Vincula el archivo CSS para los estilos -->
</head>
<body>
    <h1>
        <%= title %> <!-- Muestra el título en la cabecera (h1) -->
    </h1>
    <p>Welcome to <%= title %> <!-- Mensaje de bienvenida con el título dinámico -->
    </p>
    <p>hola que tal? es la galeria de juegos</p>
    
    <!-- Muestra los detalles específicos del juego -->
    <h1><%= juego.nombre %> </h1> <!-- Título con el nombre del juego -->
    <p><%= juego.compania %></p> <!-- Muestra la compañía que desarrolló el juego -->

    <!-- Muestra la imagen de portada del juego -->
    <figure>
        <img src="<%= juego.enlace_portada %>" alt="<%= juego.nombre %> portada">
    </figure>
    
    <!-- Muestra el género del juego como pie de foto de la portada -->
    <figcaption><%= juego.genero %></figcaption>
    
    <!-- Muestra la fecha de venta del juego -->
    <p><%= juego.fecha_de_venta %> </p>
</body>
</html>
