<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %> <!-- Inserta el valor de `title` proporcionado desde el controlador -->
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' /> <!-- Vincula el archivo CSS para los estilos -->
</head>
<body>
    <!-- Incluye el header -->
    <%- include('partials/header') %>
    
    <!-- Contenedor de la tarjeta individual del juego con dos columnas -->
    <div class="tarjeta_juego">
        <div class="tarjeta_juego_imagenes">
            <img src="<%= juego.enlace_portada %>" alt="<%= juego.nombre %> portada" class="juego_imagen">
        </div>
        <div class="tarjeta_juego_datos">
            <h2><%= juego.nombre %></h2> <!-- Muestra el nombre del juego -->
            <p><strong>Compañía:</strong> <%= juego.compania %></p> <!-- Muestra la compañía desarrolladora -->
            <p><strong>Género:</strong> <%= juego.genero %></p> <!-- Muestra el género del juego -->
            <p><strong>Fecha de Venta:</strong> <%= juego.fecha_de_venta %></p> <!-- Muestra la fecha de venta -->
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
